/*-------------------- font style ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----------------------------------------
                General style
------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/*------------------------------------------
                 Header style
-------------------------------------------- */
header{
    display: flex;
    justify-content: center;
}
.header-section{
    width: 96%;
    height: 87.5vh;
    margin: 50px 2%;
    background: #161616;
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding-left: 106px;
    padding-right: 79px;
}
.header-details{
    padding-top: 111px;
    padding-bottom: 111px;
}
.header-title{
    width: 531px;
    height: 240px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
}
.header-info{
    font-weight: 400;
    width: 506px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: 103px;
    height: 23px;
    transition: background-color 0.5s ease-out;
}
/* for transition of button color */
.btn:hover{
    background-color: #DD0000;
}
/* for transition on icon */
.btn:hover .fa-angle-right{
    margin-left: 100px;
}
.btn .fa-angle-right{
    margin-left: 10px;
    transition: margin-left 2s ease-out;
}
.header-image{

    margin-top: 100px;
}
.header-image img{
    width: 450px;
    height: auto;
    margin: 0;
}

/*------------------------------------------
                 Main style
-------------------------------------------- */
main{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.mid-section{
    width: 98%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 130px;
}
.nav-section{
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    row-gap: 30px;
    padding: 30px;
}

.nav-btn{
    text-decoration: none;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
}
.article{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    width: 313px;
}
.article-details{
    padding-left: 20px;
    padding-bottom: 20px;
}
.thumnail{
    margin-bottom: 20px;
}
.transfer-btn{
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    padding: 4px 16px;
}
.blog-title{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 300px;
    height: 54px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}
.blog-details{
    display: flex;
    align-items: center;
}
.blog-details p{
    margin-left: 10px;
    margin-right: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}

/*-------------------------------------------------------------------
                             footer style 
---------------------------------------------------------------------*/
.footer-section{
    height: 444px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title{
    width: 95px;
    height: 60px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.footer-section hr{
    width: 90%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}
.general-links{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
    margin-bottom: 50px;
}
.general-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    text-align: center;
    
}
.social-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #B9B9B9;
    padding: 0 10px;
}
/*-------------------For show which button is checked--------------*/
.checked{
    background-color: #289228;
    color: white;
}
/* ---------------------------------------------------------------- */